* {
  margin: 0;  
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100%;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-image: url('../images/gingham-bg-1.jpg');
}

.site-bg{
  height: 100%;
  width: 100%;
}
.site-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 6;
  /* background: white; */
}
.site-bg-overlay-lightness{
  position: absolute;
  z-index: 5;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background: white;
  opacity: 0.8;
}

.site-bg > .site-container > div {
  display: flex;
  background: transparent;
}

.site-container .header-container {
  display: flex;
  background: transparent;
}
.site-container .body-container {
  display: flex;
  background: transparent;
}
.site-container .footer-container {
  display: flex;
  background: transparent;
}

.header-inner{
  padding: 20px 20px 0 20px;
}
.body-inner{
  padding: 0 20px 0 20px
}
.footer-inner{
  padding: 0 20px 20px 20px;
}
.header-bg{

}
.body-bg{
  background: grey;

}
.footer-bg{
  margin-top: 10px;
  background: grey;

  /* background: blue; */
}
.top-tabs-container{
  height: 100%;
  width: 100%;
}
.top-tabs-inner{
  display: flex;
}
.non-logo{
  /* width: 66%; */
  /* flex: 10; */
  /* width: 100%; */
  display: flex;
  flex-basis: 166%;
}
.header-tab{
  display: flex;
  height: 75%;
  width: 10;
  margin-top: 6.75%;
  background: grey;
  border: 1px solid black;
  border-bottom: none;
  clip-path: polygon(0 0, 89% 0, 100% 11%, 100% 100%, 0 100%, 0% 50%);
  /* position: relative; */
  /* bottom: 0; */
/* flex: end; */
}
.logo{
  width: 33%;
}
#home{

}
.list-view-container{
    height: 100%;
    width: 100%;
    padding: 20px;
}
.list-view-inner{
    height: 100%;
    width: 100%;
    background: white;
}
.list-view-grid-window{
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.list-header{
  display: flex;
  flex-direction: row;
  max-height: 150px;
}

#blank{
  border: black solid 1px;
}
#list-title{
  border: black solid 1px;
  /* text-justify: center; */
  text-justify: center;
  text-align: center;
}
.list-body{
  height: 100%;
  border: black solid 1px;
}
.list-entry-container{
  display: flex;
  flex-direction: row;
  max-height: 300px;
}
.list-entry-title-image-desc{
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.list-entry-title{
  background: grey;
  max-height: 40px;
}
.list-entry-image{
  margin: 20px;
  background: grey;
}
.list-entry-desc{
  background: grey;
}  
.list-item-recipes-container{
  padding: 20px;
}
.list-item-recipes-inner{
  background: grey;
}




.admin-view-container{
  /* margin: 20px 20px; */
  background: red;
  height: 100%;
  width: 100%;
  padding: 10px;
}
.admin-inner{
  height: 100%;
  width: 100%;
  background: black;
}
.admin-tabs{
  height: 7%;
  width: 100%;
  background: green;
  display: flex;
  flex-direction: row;
  padding: 5px;
}
.admin-tab{
  display: flex;
  /* margin: 2px; */
  width: 100%;
  height: 100%;
  border: white solid 1px;
}
.admin-working-container{
  height: 93%;
}
.admin-working-inner{
  color: white;
}
.admin-working-title{
  /* display: flex; */
  background: blue;
  height: 20px;
  text-align: center;
}

.dishes-admin{
  /* display: flex; */
}

.dishes-aggregated-container{
  /* background: white; */
  /* display: flex; */
  height: calc(100% - 20px);
  overflow: auto;
  display: flex;
  justify-items: center;
}
.add-dish-btn{
  height: 40px;
  background: grey;
  text-align: justify;
  text-justify: distribute;
  color: black;
  
}
.add-dish-btn:hover{
  background: rgb(199, 199, 199);
  cursor: pointer;
}

.add-x-route-bg{
  position: absolute;
  z-index: 10;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background: white;
  opacity: 0.8;
}
.add-x-route-container{
  position: absolute;
  z-index: 11;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  /* background: black; */
}

.add-x-form-container{
  background: purple;
  display: flex;
  flex-direction: column;
  position: relative;
  height: calc(100% - 200px);
  width: calc(100% - 100px);
  top: 100px;
  left: 50px;
}
.add-x-form-inner{
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-top: 10px;
}
.close-add-x{
  position: absolute;
  right: 10px;
  top: 10px;
  text-align: center;
  background: white;
  height: 20px;
  width: 20px;
  z-index: 100;
}
.close-add-x:hover{
  background: black;
  color: white;
}
.exit-save-buffer{
  /* flex: none; */
  height: 20px;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.add-x-labels{
  display: flex;
  flex-direction: column;
  height: calc(100% - 10px);
  /* height: 100%; */
  /* margin: 10px; */
  /* text-align: center; */

}
.add-x-labels label {
  border: white solid 1px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.add-x-inputs{
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  height: calc(100% - 10px);

}
.add-x-inputs div{
  height: 100%;
}
.add-x-inputs input {
  height: 25px;
  display: flex;
}
.save-btn{
  height: 20px;
  margin: 20px;
  width: calc(100% - 40px);
}
.save-btn:hover{
  cursor: pointer;
  background: black;
  color: white;
}
