* {
  margin: 0;  
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100%;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-image: url('../images/gingham-bg-1.jpg');
}

.site-bg{
  height: 100%;
  width: 100%;
}
.site-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 6;
  /* background: white; */
}
.site-bg-overlay-lightness{
  position: absolute;
  z-index: 5;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background: white;
  opacity: 0.8;
}

.site-bg > .site-container > div {
  display: flex;
  background: transparent;
}

.site-container .header-container {
  display: flex;
  background: transparent;
}
.site-container .body-container {
  display: flex;
  background: transparent;
}
.site-container .footer-container {
  display: flex;
  background: transparent;
}

.header-inner{
  padding: 20px 20px 0 20px;
}
.body-inner{
  padding: 0 20px 0 20px
}
.footer-inner{
  padding: 0 20px 20px 20px;
}
.header-bg{

}
.body-bg{
  background: grey;

}
.footer-bg{
  margin-top: 10px;
  background: grey;

  /* background: blue; */
}
.top-tabs-container{
  height: 100%;
  width: 100%;
}
.top-tabs-inner{
  display: flex;
}
.non-logo{
  /* width: 66%; */
  /* flex: 10; */
  /* width: 100%; */
  display: flex;
  flex-basis: 166%;
}
.header-tab{
  display: flex;
  height: 75%;
  width: 10;
  margin-top: 6.75%;
  background: grey;
  border: 1px solid black;
  border-bottom: none;
  clip-path: polygon(0 0, 89% 0, 100% 11%, 100% 100%, 0 100%, 0% 50%);
  /* position: relative; */
  /* bottom: 0; */
/* flex: end; */
}
.logo{
  width: 33%;
}
#home{

}
.list-view-container{
    height: 100%;
    width: 100%;
    padding: 20px;
}
.list-view-inner{
    height: 100%;
    width: 100%;
    background: white;
}
.list-view-grid-window{
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.list-header{
  display: flex;
  flex-direction: row;
  max-height: 150px;
}

#blank{
  border: black solid 1px;
}
#list-title{
  border: black solid 1px;
  /* text-justify: center; */
  text-justify: center;
  text-align: center;
}
.list-body{
  height: 100%;
  border: black solid 1px;
}
.list-entry-container{
  display: flex;
  flex-direction: row;
  max-height: 300px;
}
.list-entry-title-image-desc{
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.list-entry-title{
  background: grey;
  max-height: 40px;
}
.list-entry-image{
  margin: 20px;
  background: grey;
}
.list-entry-desc{
  background: grey;
}  
.list-item-recipes-container{
  padding: 20px;
}
.list-item-recipes-inner{
  background: grey;
}




.admin-view-container{
  /* margin: 20px 20px; */
  background: red;
  height: 100%;
  width: 100%;
  padding: 10px;
}
.admin-inner{
  height: 100%;
  width: 100%;
  background: black;
}
.admin-tabs{
  height: 7%;
  width: 100%;
  background: green;
  display: flex;
  flex-direction: row;
  padding: 5px;
}
.admin-tab{
  display: flex;
  /* margin: 2px; */
  width: 100%;
  height: 100%;
  border: white solid 1px;
}
.admin-working-container{
  height: 93%;
}
.admin-working-inner{
  color: white;
}
.admin-working-title{
  /* display: flex; */
  background: blue;
  height: 20px;
  text-align: center;
}

.dishes-admin{
  /* display: flex; */
}

.db-items-aggregated-container{
  /* background: white; */
  /* display: flex; */
  height: calc(100% - 20px);
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.add-item-btn{
  height: 40px;
  background: grey;
  text-align: justify;
  text-justify: distribute;
  color: black; 
}
.add-item-btn:hover{
  background: rgb(199, 199, 199);
  cursor: pointer;
}

.add-x-route-bg{
  position: absolute;
  z-index: 10;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background: white;
  opacity: 0.8;
}
.add-x-route-container{
  position: absolute;
  z-index: 11;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  /* background: black; */
}
.add-x-route-link{
  display: flex;
  /* max-height: 20px; */
  height: 40px;
}

.add-x-form-container{
  background: purple;
  display: flex;
  flex-direction: column;
  position: relative;
  height: calc(100% - 200px);
  width: calc(100% - 100px);
  top: 100px;
  left: 50px;
}
.add-x-form-inner{
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-top: 10px;
}
.close-add-x{
  position: absolute;
  right: 10px;
  top: 10px;
  text-align: center;
  background: white;
  height: 20px;
  width: 20px;
  z-index: 100;
}
.close-add-x:hover{
  background: black;
  color: white;
}
.exit-save-buffer{
  /* flex: none; */
  height: 20px;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.add-x-labels{
  display: flex;
  flex-direction: column;
  height: calc(100% - 10px);
  /* height: 100%; */
  /* margin: 10px; */
  /* text-align: center; */

}
.add-x-labels label {
  border: white solid 1px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.add-x-inputs{
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  height: calc(100% - 10px);

}
.add-x-inputs div{
  height: 100%;
}
.add-x-inputs input {
  height: 25px;
  display: flex;
}
.add-x-inputs button{
  text-align: center;
  align-items: center;
  justify-items: center;
  text-justify: center;
  /* background: black; */
}
.add-x-form-btn{
  display: flex;
  height: 20px;
}
.add-x-form-tags-associated{
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.save-btn{
  height: 20px;
  margin: 20px;
  width: calc(100% - 40px);
}
.save-btn:hover{
  cursor: pointer;
  background: black;
  color: white;
}
.items-list-container{
  display: flex;
  flex-direction: column;
  height: calc(100% - 20px);
  background: white;
}

.db-items-item-container{
  position: relative;
  /* background: red; */
  background: black;
  height: 40px;
  border: black solid 2px;
  padding: 2px;
  display: flex;
  flex-direction: row;
}

.db-items-item-container.expanded{
  height: 300px;
  overflow: auto;
}


.items-item-inner{
  display: flex;
  flex-direction: row;
}
.entry-info{
  display: flex;
  flex-direction: column;
  flex: 2;
  /* width: 50%; */
  /* height: 50%; */
}
.entry-info.expanded{

}
.entry-title{
  display: flex;
  background: green;
  max-height: 40px;
}
.entry-desc{
  display: flex;
  /* width: 50%; */
  /* height: 50%; */
}
.entry-images-previews{
  flex:4;
  display: flex;
  flex-direction: row;
}
.av-dish-img-previews{
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-items: center;
  text-justify: center;
}
.av-img-preview{
  object-fit: scale-down;
}
.entry-actions{
  /* position: absolute; */
  right: 0px;
  display: flex;
  flex: 2;
  flex-direction: column;
  /* background: grey; */
  /* width: 100%; */
}
.btns-top{
  max-height: 40px;
  display: flex;
}
.btns-top.expanded{

}
.entry-edit-btn{
  display: flex;
  margin-right: 5px;
  margin-left: 5px;
  width: 100%;
  background: gray;
  text-align: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
  text-justify: center;
}
.entry-edit-btn:hover{
  cursor: pointer;
}
.fa-icon{
  max-height: 20px;
  max-width: 20px;
  background: none;
  color: white;
}

.expand-btn{
  background: gray;
  display: flex;
  color: white;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
  text-justify: center;
}
.expand-btn:hover{
  cursor: pointer;
}
.expand-btn.expanded{
  /* right: 20px;
  top: 20px; */
  /* background: black; */
  transform: rotate(180deg);
}
.hide{
  display: none;
}
.tags-trends{
  display: flex;
  flex-direction: column;
  background: slateblue;
}
.tags-trends-header{
  text-align: center;
  align-items: center;
  justify-items: center;
  text-justify: center;
  height: 30px;
}
.tags-listed{
  display: flex;
  height: 50%;
  width: 100%;
  overflow: auto;
}
.trends-listed{
  display: flex;
  height: 50%;
  width: 100%;
  overflow: auto;
}
.add-x-tags-listed{
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.add-x-tags-listed .tag{
  display: flex;
  height: 20px;
}
.tag-inner{
  display: flex;
  flex-direction: row;
}
.del-tag{
  display: flex;
  width: 20px;
  /* width: 100%; */

  /* display: flex;
  margin-right: 5px;
  margin-left: 5px;
  width: 100%;
  background: gray;
  text-align: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
  text-justify: center; */
  
}
.del-tag:hover{
  cursor: pointer;
}
.tag-name{
  margin-left: 7px;
}
.edit-dish-view{
  position: absolute;
  z-index: 10;
  /* height: 100%;
  width: 100%; */
  height: 100%;
  /* overflow: auto; */
  background: black;
  color: white;
  left: 0px;
  top: 0px;
}
.close-edit-dish{
  display: flex;
  height: 40px; 
  width: 100%; 
  text-align: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
  text-justify: center;
}
.close-edit-dish:hover{
  cursor: pointer;
}
.edit-x-form{
  /* display: flex;
  flex-direction: row; */
  /* height: 100%; */
  /* background: purple; */
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}
.edit-x-form-inner{
display: flex;
flex-direction: column;
}
.edit-x-form-item{
  display: flex;
  flex-direction: row;
}
.edit-x-form-item div{
  display: flex;
  flex-direction: row;
}
.edit-x-form-item#tags{
  display: flex;
  flex-direction: row;
  /* flex-direction: column; */
  /* height: 200px; */
}
.edit-tags-container{
  display: flex;


  flex-direction: column !important;  
  /* background: green; */
  background: black;

}
.edit-tags-top{
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  /* background: black; */
}
.edit-tags-top #edit{
  display: flex;
  /* border: black solid 3px; */
}
/* .edit-tags-top input{
  display: flex;
} */
.add-x-tags-listed#edit{
  display: flex;
  flex-direction: column;
  /* background: red; */
  overflow: visible;
}
.edit-x-form-item div input#edit{
  display: flex;
  height: 20px;
}
.edit-x-form-item#send-edit{
  background: white;
}